{
    "extends": "webbylab",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "requireConfigFile": false,
        "babelOptions": {
            "plugins": [
                "@babel/plugin-syntax-import-assertions"
            ],
            "babelrc": false,
            "configFile": false
        }
    },
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ]
    },
    "plugins": [
        "ava"
    ],
    "ignorePatterns": ["lib/api/rest-api/docs/**/*.mjs"]
}